<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música</title>
    <link rel="stylesheet" href="ifrmaedatelademusica.css">
 
</head>
<body>


    <div class="container">
        <div class="music-frame">
            <div class="music-cover">
                <img src="Logo.jpg" alt="Capa da Música">
            </div>
            <input
            value="favorite-button"
            name="favorite-checkbox"
            id="favorite"
            checked="checked"
            type="checkbox"
          />
          <label class="container-1" for="favorite">
            <svg
              class="feather feather-heart"
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              viewBox="0 0 24 24"
              height="24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
              ></path>
            </svg>
            <div class="action">
              <span class="option-1">Adicionar á Colmeia</span>
              <span class="option-2">Adicionado á Colmeia</span>
            </div>
          </label>
            <div class="music-player">
                <!-- player de música aqui -->
                <audio src="ONE PUNCH ft @wikenerd prod @cralimfkreg.mp3" autoplay controls></audio>
            </div>
            <div class="music-info">
                <p>Autor: Nome do Autor</p>
                <p>Duração: 3:45</p>
                <p>Lançamento: 2024</p>
                <p>Gênero: Rock</p>
                <!-- Adicione mais informações conforme necessário -->
            </div>
        </div>
    </div>
</body>
</html>
