<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" type="image/png" href="../Icones/Logo.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Pets.css">
    <title>Pets</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a href="../Principal/principal.html" onclick="handleButtonClick('inicio')"><img src="../Principal.png" alt="Botão de Início"></a></li>
            <li><a href="../Pesquisa/TelaPesquisa.html" onclick="handleButtonClick('party')"><img src="../party icone.png" alt="Botão de Party"></a></li>
            <li><a href="../Album/MusicasSalvas.html" onclick="handleButtonClick('album')"><img src="../Curtidas.png" alt="Botão de Album"></a></li>
            <li><a href="../Pets/TelaPets.html" onclick="handleButtonClick('pets')"><img src="../Pets.png" alt="Botão de Pets"></a></li>
            <li class="menu-separator"></li> <!-- Linha de separação -->
            <div class="menu-profile-config">
                <li><a href="../perfil/TelaPerfil.html" onclick="handleButtonClick('perfil')"><img src="../Perfil.png" alt="Botão de Perfil"></a></li>
                <li><a href="../Configurações/TelaConfig.html" onclick="handleButtonClick('configuracoes')"><img src="../Configuração.png" alt="Botão de Configurações"></a></li>
            </div>
        </ul>
    </div>
    <div class="MeuPet">
        <h1>Nome Do Pet</h1>
        <div class="xpBar">
            <div class="xpProgress"><p id="xpNivel">Xp Nivel: 55</p></div>            
        </div>
        <img id="ImgPet" src="FotosPets/FotoPet01.jpg" alt="Imagem Pet">
    </div>

    <div class="scrollable-container" id="container1">
        <div class="nomeCatalago">
            <h1>Camisas</h1>
        </div>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://img.freepik.com/vetores-gratis/desenho-de-adesivo-com-camiseta-azul-isolada_1308-79625.jpg" alt=""></div>
            
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://static.vecteezy.com/system/resources/previews/003/532/204/non_2x/sticker-design-with-red-t-shirt-isolated-free-vector.jpg" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://static.vecteezy.com/system/resources/thumbnails/006/034/398/small_2x/sticker-white-t-shirt-with-coathanger-free-vector.jpg" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP.UL742fzpgA2pX35cdY-MgAHaHa?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP.WlR4JaP6HPBjIfmq0pQ9LwHaGG?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://static.shopvasco.com.br/produtos/camiseta-infantil-vasco-da-gama-recorte/06/425-8912-006/425-8912-006_zoom1.jpg?ts=1581420023&ims=1088x" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/R.2affe4b2f49f6fe6b122df444d8941d4?rik=S5SHf6P6qyBgcA&pid=ImgRaw&r=0&sres=1&sresct=1" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP.PMtujoRCMI-raW1TbXsmPwHaHU?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://thumbs.dreamstime.com/z/composi%C3%A7%C3%A3o-realista-do-rei-cloak-manto-com-imagem-vestido-monarca-o-cetro-vermelho-real-e-ilustra%C3%A7%C3%A3o-vetor-de-bola-200482946.jpg" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP.7ieyiOE3zx88-BX4JzmwegHaJE?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP._YXq3HFrgETvnYNB0HWU8gHaHa?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP.2Cr_i4oXsakiZuZG6TgYLwHaG_?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <div class="nomeCatalago">
            <h1>Rosto</h1>
        </div>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://prints.ultracoloringpages.com/b052c464fc36c37388dfbe6082288d3d.png" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP.ylbodItlJPFQym6zWriM7QHaHa?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song"><img src="https://th.bing.com/th/id/OIP.NT-IKq8OjQHsY5cWkk9o-AHaHa?rs=1&pid=ImgDetMain" alt=""></div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song">Roupa 09</div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song">Roupa 10</div>
        </a>
        <a href="ColocaRoupaNoPet">
            <div class="song">Roupa 05</div>
        </a>
    </div>
</body>

</html>