body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131722;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    user-select: none;
}

header{
    display: flex;
    height: 250px;
    width: 100%;
    background-color: #ffd738;
    box-shadow: 0 0 110px rgba(255, 230, 37, 0.66);
    position: absolute;
    margin-top: -34%;
    border: 3px solid black;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-shadow: 0 0 30px rgb(0, 0, 0);
    font-size: 150%;
}

.menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    border: none;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000; /* Z-index alto para ficar sobreposto */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ffdf60;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #0d0d17;
}

img {
    height: 50px;
    width: auto;
    border: none;
    border-radius: 20px;
}

.container {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 6%;
    gap: 20px;
    padding: 20px;
}

#container2{
    position: absolute;
    margin-top: 55%;
    margin-left: -6%;
}
h2{
    margin-left: 6%;
    color: #ffd738;
}

.playlist {
    text-align: center;
    margin-left: 1%;
}

.playlist-button {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.playlist-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    pointer-events: none; /* Adicionando esta linha */
}


.playlist-button:hover {
    transform: scale(1.05);
}

.playlist-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.Musicas {
    text-align: center;
    margin-left: 1%;
}

.Musicas-button {
    width: 200px;
    height: 200px; /* Ajuste as dimensões conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden; /* Para garantir que a imagem não vaze do contêiner */
}

.Musicas-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Ajuste o raio do border-radius conforme necessário */
    cursor: pointer;
}

.Musicas-button:hover {
    transform: scale(1.05);
}

.Musicas-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.scrollable-container {
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    max-width: 100%; /* Define a largura máxima do contêiner e deixa o conteiner arrastavel(scrollavel) */
    margin-left: 5%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    position: relative; /* Adicionado */
}

#container1, #container2, #container3 {
    overflow-y: hidden;
}
#container1, #container2, #container3 {
    overflow-x: hidden;
}