body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131722;
    background-size: cover;
    color: #fff;
    display: grid;
    user-select: none;
    transition: background-color 0.3s ease;
}



.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: absolute;
    top: 20px;  
    right: 70px;
}

.input {
    width: 400px;
    /* Ajuste conforme necessário */
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #0d0c22;
    color: #f3f3f4;
    transition: 0.3s ease;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(255, 223, 96, 0.4);
    background-color: #0d0c22;
    box-shadow: 0 0 0 4px rgb(247 127 0 / 10%);
}

.icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    border: none;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

.menu:hover {
    transform: translateX(0);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #1a1e30;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu ul li a:hover {
    background-color: #2a2e40;
    transform: scale(1.1);
}

.menu ul li a img {
    height: 40px;
    width: auto;
    transition: opacity 0.3s ease;
}

.menu-profile-config {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 20px;
}

img {
    height: 50px;
    width: auto;
    border: none;
    border-radius: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #131722;
    transition: background-color 0.3s ease;
}

.container {
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.temp {
    font-family: 'Franklin Gothic Heavy';
    color: #ffd800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.temp:hover {
    transform: scale(1.05);
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
    
@media (max-width: 480px) {
    body {
        display: block;
        padding: 10px;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .Temp img {
        height: 150px;
        margin-bottom: 20px;
    }

    .menu {
        width: 100%;
        height: auto;
        position: relative;
    }

    .menu ul {
        display: flex;
        justify-content: space-around;
    }

    .menu ul li {
        padding: 5px;
        border-bottom: none;
    }

    .menu ul li a img {
        height: 30px;
        width: auto;
    }

    .group {
        flex-direction: column;
        align-items: flex-start;
        position: static;
        margin: 20px 0;
        width: 100%;
    }

    .input {
        width: 100%;
        margin-bottom: 10px;
    }
}