body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../aaaaaaaaaaaaaaaaaa.png);
    background-color: #ffd800;
    background-size: cover;
    color: #fff;
    display: grid;
}

.container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    background-color: #0d0d17;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 70px;
    background-color: #000;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

.profile-info {
    flex: 1;
    margin-right: 20px;
}

.button {
    background-color: #ffd800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #eeff00;
}

.menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    border: 2px solid #000000;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ffdf60;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #ffffff;
}

img {
    height: 50px;
    width: auto;
}

h1 {
    text-align: center;
}