/* Estilos para a scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0d0d14;
}

::-webkit-scrollbar-thumb {
    background: #1c1e2c;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #191a25;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131722;
    color: #ffffff;
    display: flex;
}

/* Menu lateral */
.menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #1a1e30;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #2a2f3d;
}

.menu ul li a img {
    height: 40px;
    width: auto;
}

.menu-profile-config {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 20px;
}

/* Conteúdo principal */
.content {
    margin-left: 85px;
    padding: 20px;
    width: calc(100% - 85px);
}

/* Banner */
.banner {
    background-color: #fbff00;
    height: 265px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 12px;
    border-bottom: 3px solid #1a1f31;
}
.banner-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 35px; /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
    z-index: 2;
    border: none;
    background: none;
    transition: opacity 0.3s;
}

/* Contêiner das informações do perfil e da foto de perfil */
.profile-container {
    display: flex;
    align-items: flex-start; /* Alinha os itens ao início do contêiner */
    margin-top: -50px; /* Ajuste conforme necessário para o alinhamento */
}

/* Ajuste o estilo da foto de perfil */
.profile-picture-container {
    z-index: 10;
    margin-right: 20px; /* Espaço entre a foto e as informações */
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #131722;
    cursor: pointer;
    background-color: #131722;
    object-fit: cover;
}

.profile-info {
    text-align: left;
    margin-top: 30px; /* Ajuste o valor conforme necessário para o alinhamento */
}

.username {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}

.bio {
    font-size: 20px;
    margin: 10px 0;
    color: #ffffff;
}

.country {
    font-size: 18px;
    color: #8899a6;
}

/* Abas */
.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #161b25;
    padding: 15px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tab {
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #8899a6;
    font-weight: bold;
}

.tab.active {
    background-color: #f2e41d;
    color: black;
}

/* Estilos para a nova seção de músicas */
.info {
    background-color: #1a1f31;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.music-item {
    width: 150px;
    height: 150px;
    background-color: #2a2f3d;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.music-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-title {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 5px;
    font-size: 14px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 8px 8px;
}
