body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232131; /* Cor de fundo do corpo da página semelhante ao Discord */
    color: #ffffff; /* Cor do texto */
}

.container {
    max-width: 600px;
    margin: 20px auto; /* Adicionei margem superior e inferior para centralizar verticalmente */
    padding: 20px;
    background-color: #151620; /* Cor de fundo do contêiner principal semelhante ao Discord */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.music-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.music-cover img {
    max-width: 400px; /* Defina a largura máxima desejada */
    height: auto; /* Mantém a proporção original */
    margin-bottom: 20px; /* Espaçamento entre a imagem e o player de música */
}

.music-info {
    background-color: #21232e; /* Cor de fundo semelhante ao Discord */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento superior */
    max-width: 500px; /* Largura máxima */
    width: 70%; /* Faz com que o contêiner ocupe toda a largura disponível */
}

.music-info p {
    text-align: center;
    margin: 10px 0; /* Espaçamento entre os parágrafos */
}

.music-player {
    text-align: center;
}
