
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0f0f18;
    color: #ffffff;
    display: grid;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.left-side {
    width: 50%;
    height: 100%;
    border-right: 1px solid #34373c; /* cor da borda do Discord */
}

.right-side {
    width: 50%;
    height: 100%;
    padding: 20px;
}

.music-info {
    background-color: #242433;
    padding: 20px;
    border-radius: 10px;
}

.music-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.music-info li {
    margin-bottom: 10px;
}

.music-info strong {
    color: #fff; /* cor do texto do Discord */
}

.recommendations {
    margin-top: 20px;
}

.recommendations ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.recommendations li {
    margin-bottom: 10px;
}

.recommendations a {
    color: #fff; /* cor do texto do Discord */
    text-decoration: none;
}

.music-frame {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.music-cover {
    width: 200px;
    height: 200px;
    background-color: #36393f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.music-cover i {
    color: #fff;
}

.music-cover h2 {
    color: #fff;
    margin-top: 10px;
}

.music-player {
    margin-top: 20px;
}

.scrollable-container {
    overflow-x: hidden;
    white-space: nowrap;
    margin: 0 auto;
    max-width: 80%;
    position: relative;
}

.song {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    background-color: #ebd304;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    border: none;
    border-radius: 18px;
}

.nomeCatalago {
    text-align: center;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.scroll-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.Temp {
    text-align: center;
}

#teste {
    height: 220px;
    margin-bottom: 100px;
}

.menu {
    width: 80px; /* Largura do menu */
    height: 100vh; /* Altura total da viewport */
    border-radius: 6px;
    background-color: #0d0d17; /* Cor de fundo */
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ffffff; /* Linha separadora */
}

.menu ul li a {
    color: #fff; /* Cor do texto */
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
}

img {
    height: 50px;
    width: auto;
}
