/* Estilos para a scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0d0d14;
}

::-webkit-scrollbar-thumb {
    background: #1c1e2c;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #191a25;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131722;
    color: #ffffff;
    display: flex;
}

/* Menu lateral */
.menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: #1a1e30;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: #2a2f3d;
}

.menu ul li a img {
    height: 40px;
    width: auto;
}

.menu-profile-config {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 20px;
}

/* Ajuste a margem do conteúdo para alinhar as playlists à esquerda do site */
.content {
    margin-left: 120px; /* Aumente conforme necessário para criar distância do menu */
    padding: 20px;
    width: calc(100% - 120px); /* Ajuste a largura do conteúdo para compensar a margem */
}

/* Container de playlists */
.playlist-container {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda do contêiner */
    gap: 15px; /* Espaço entre os itens */
    margin-left: 20px; /* Adiciona um pouco de espaço à esquerda dos itens de playlist */
}

/* Cabeçalho */
.header {
    background-color: #161b25;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header h1 {
    font-size: 40px; /* Aumente o tamanho da fonte conforme necessário */
    margin: 0;
}


/* Itens de playlists */
.playlist-item {
    width: 200px; /* Aumente a largura dos itens das playlists */
    height: 200px; /* Aumente a altura dos itens das playlists */
    background-color: #2a2f3d;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.playlist-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.playlist-cover {
    width: 100%;
    height: 70%; /* Ajuste para dar mais espaço para as capas das músicas */
    object-fit: cover;
}

.music-covers {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    grid-template-rows: repeat(2, 1fr); /* Duas linhas */
    gap: 5px;
    width: 100%;
    height: 100%; /* Ajuste conforme necessário para preencher o item da playlist */
    padding: 5px;
}

/* Capas das músicas */
.music-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/* Título da playlist */
.playlist-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 8px 8px;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 900; /* Deve estar abaixo do painel lateral */
}

/* Painel lateral */
.side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: #1a1e30;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.side-panel.show {
    transform: translateX(0);
}

.overlay.show {
    transform: translateX(0);
}

/* Ajuste no estilo das músicas */
#playlist-music-list {
    margin-top: 40px;
}