body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
    display: grid;
}

.menu {
    width: 80px; /* Largura do menu */
    height: 100vh; /* Altura total da viewport */
    border-radius: 6px;
    background-color: #0d0d17; /* Cor de fundo */
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ffffff; /* Linha separadora */
}

.menu ul li a {
    color: #fff; /* Cor do texto */
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
}
img{
    height: 50px;
    width: auto;
}

.container {
    text-align: center;
    padding-top: 50px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #12121b; 
    color: #fff;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #20212c; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.profile-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile-info input[type="file"] {
    display: none;
}
.change-photo-btn,
.delete-account-btn,
.save-btn {
    background-color: #f0c30f; /* Amarelo */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.delete-account-btn
 {
    background-color: #dd3630; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-account-btn:hover{
    background-color: #ac2f26; 
}
.change-photo-btn:hover,
.save-btn:hover {
    background-color: #e6b50e; /* Amarelo mais escuro ao passar o mouse */
}


.change-name-input,
.change-bio-input,
.change-country-input,
.change-password-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
    background-color: #202225; /* Cor de fundo mais escura */
    margin-bottom: 20px;
}



.toggle-btn {
display: inline-block;
padding: 10px 20px;
background-color: #333;
color: #fff;
border: none;
border-radius: 20px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.toggle-btn:hover {
background-color: #9a94a1;
}

.dark-mode {
background-color: #e9d357;
color: #fff;
}