body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: black;
    display: grid;
}

.menu {
    width: 80px; /* Largura do menu */
    height: 100vh; /* Altura total da viewport */
    border-radius: 6px;
    background-color: #0d0d17; /* Cor de fundo */
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #18161d; /* Linha separadora */
}

.menu ul li a {
    color: #fff; /* Cor do texto */
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}
img{
    height: 50px;
    width: auto;
}