<<<<<<< HEAD
/* Define a fonte padrão para o corpo do documento, removendo margens e preenchimentos. 
   Define a cor de fundo e a cor do texto padrão. Usa grid para o layout. */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #12121b; 
    color: #fff;
    display: grid;
    user-select: none;
}

/* Estiliza o contêiner principal, definindo largura, margens, preenchimento, cor de fundo, 
   bordas arredondadas, sombras e alinhamento de texto. */
.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #20212c; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), /* Sombra existente */
                0 0 20px 10px rgba(255, 220, 80, 0.7); /* Luz amarela */
    text-align: center;
}

/* Define o layout das seções de informações do perfil, usando flexbox para alinhamento, 
   margens inferiores e preenchimento. Adiciona uma borda inferior. */
.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

/* Define as propriedades de imagem para a foto do perfil, incluindo largura, altura, 
   bordas arredondadas e margens à direita. */
.profile-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Define o estilo para as etiquetas dentro das seções de informações do perfil, 
   fazendo-as crescer para preencher o espaço disponível e alinhar o texto à esquerda. */
.profile-info label {
    width: 50px;
    flex-grow: 1;
    text-align: left;
}

/* Define o estilo para inputs, textareas e selects nas seções de informações do perfil, 
   incluindo largura, preenchimento, bordas, cores de fundo e texto, e margens à esquerda. */
.profile-info input,
.profile-info textarea,
.profile-info select {
    width: calc(100% - 120px); /* Define a largura considerando a largura da imagem e a margem. */
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    margin-left: 20px; /* Garante que todas as caixas de texto estejam alinhadas. */
}

/* Oculta o input de arquivo, pois será estilizado de outra maneira. */
.profile-info input[type="file"] {
    display: none;
}

/* Define o estilo para botões de alteração de foto, exclusão de conta e salvamento de configurações,
   incluindo cor de fundo, cor do texto, bordas, preenchimento, bordas arredondadas, cursor e margens. */
.change-photo-btn,
.delete-account-btn,
.save-btn {
    background-color: #f0c30f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
/* Define a cor de fundo específica para o botão de exclusão de conta. */
.delete-account-btn {
    background-color: #dd3630;
}

/* Define os estilos para os botões ao passar o mouse sobre eles, alterando a cor de fundo. */
.change-photo-btn:hover,
.save-btn:hover,
.delete-account-btn:hover {
    background-color: #e6b50e;
}

.delete-account-btn:hover {
    background-color: #ff1100;
}
.save-btn {
    margin-right: 30px; /* Adiciona margem direita de 15px ao botão Salvar Configurações */
    width: 170px;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 220, 80, 0.3);;
}
.delete-account-btn{
    width: 170px;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.3);
}


/* Define o estilo para o menu lateral, incluindo largura, altura, bordas arredondadas, 
   cor de fundo, posição fixa e alinhamento. */
   .menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    border: 2px solid #000000;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ffdf60;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #0d0d17;
}

img {
    height: 50px;
    width: auto;
    border: none;
    border-radius: 20px;
}

/* Media Queries para responsividade */
@media (max-width: 480px) {
    .container {
        width: 90%;
        margin: 20px auto;
        padding: 10px;
    }
    
    .profile-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-info img {
        margin: 0 auto 10px;
    }

    .profile-info label {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
    }

    .profile-info input,
    .profile-info textarea,
    .profile-info select {
        width: 100%;
        margin-left: 0;
    }

    .save-btn,
    .delete-account-btn {
        width: 100%;
        margin: 10px 0;
    }

    .menu {
        width: 100%;
        height: auto;
        position: relative;
    }

    .menu ul {
        display: flex;
        justify-content: space-around;
    }

    .menu ul li {
        padding: 5px;
        border-bottom: none;
    }

    .menu ul li a img {
        height: 30px;
        width: auto;
    }
}
=======
/* Define a fonte padrão para o corpo do documento, removendo margens e preenchimentos. 
   Define a cor de fundo e a cor do texto padrão. Usa grid para o layout. */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #12121b; 
    color: #fff;
    display: grid;
    user-select: none;
}

/* Estiliza o contêiner principal, definindo largura, margens, preenchimento, cor de fundo, 
   bordas arredondadas, sombras e alinhamento de texto. */
.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #20212c; 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), /* Sombra existente */
                0 0 20px 10px rgba(255, 220, 80, 0.7); /* Luz amarela */
    text-align: center;
}

/* Define o layout das seções de informações do perfil, usando flexbox para alinhamento, 
   margens inferiores e preenchimento. Adiciona uma borda inferior. */
.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

/* Define as propriedades de imagem para a foto do perfil, incluindo largura, altura, 
   bordas arredondadas e margens à direita. */
.profile-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

/* Define o estilo para as etiquetas dentro das seções de informações do perfil, 
   fazendo-as crescer para preencher o espaço disponível e alinhar o texto à esquerda. */
.profile-info label {
    width: 50px;
    flex-grow: 1;
    text-align: left;
}

/* Define o estilo para inputs, textareas e selects nas seções de informações do perfil, 
   incluindo largura, preenchimento, bordas, cores de fundo e texto, e margens à esquerda. */
.profile-info input,
.profile-info textarea,
.profile-info select {
    width: calc(100% - 120px); /* Define a largura considerando a largura da imagem e a margem. */
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    margin-left: 20px; /* Garante que todas as caixas de texto estejam alinhadas. */
}

/* Oculta o input de arquivo, pois será estilizado de outra maneira. */
.profile-info input[type="file"] {
    display: none;
}

/* Define o estilo para botões de alteração de foto, exclusão de conta e salvamento de configurações,
   incluindo cor de fundo, cor do texto, bordas, preenchimento, bordas arredondadas, cursor e margens. */
.change-photo-btn,
.delete-account-btn,
.save-btn {
    background-color: #f0c30f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
/* Define a cor de fundo específica para o botão de exclusão de conta. */
.delete-account-btn {
    background-color: #dd3630;
}

/* Define os estilos para os botões ao passar o mouse sobre eles, alterando a cor de fundo. */
.change-photo-btn:hover,
.save-btn:hover,
.delete-account-btn:hover {
    background-color: #e6b50e;
}

.delete-account-btn:hover {
    background-color: #ff1100;
}
.save-btn {
    margin-right: 30px; /* Adiciona margem direita de 15px ao botão Salvar Configurações */
    width: 170px;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 220, 80, 0.3);;
}
.delete-account-btn{
    width: 170px;
    color: black;
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.3);
}


/* Define o estilo para o menu lateral, incluindo largura, altura, bordas arredondadas, 
   cor de fundo, posição fixa e alinhamento. */
   .menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    border: 2px solid #000000;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ffdf60;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #0d0d17;
}

img {
    height: 50px;
    width: auto;
    border: none;
    border-radius: 20px;
}

>>>>>>> ea708728a6dc7f060c86a1b739451be5dba4b034
