/* Estilos padrão */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    display: grid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu {
    width: 80px; /* Largura do menu */
    height: 100vh; /* Altura total da viewport */
    border-radius: 6px;
    background-color: #ffdf60; /* Cor de fundo */
    position: fixed;
    left: 0;
    top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    padding: 10px;
    border-bottom: 1px solid #18161d; /* Linha separadora */
}

.menu ul li a {
    color: #fff; /* Cor do texto */
    text-decoration: none;
    display: block;
}

.menu ul li a:hover {
    background-color: #ffffff; /* Cor de fundo ao passar o mouse */
}

img {
    height: 50px;
    width: auto;
}

.Temp {
    text-align: center;
}

#teste {
    height: 250px;
    width: auto;
    border: 3px solid #ffdf60;
}

/* Media queries para tornar o layout responsivo 

@media only screen and (max-width: 768px) {
    .menu {
        width: 60px;
    }
}

@media only screen and (max-width: 576px) {
    .menu {
        width: 50px;
    }
}
*/
