{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'users/img/Logo.jpg' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/register-style.css' %}">
    <title>SignUp</title>
</head>

<body>
    <div class="signup-container">
    
    {% block content %}
        <h2>Cadastro de Usuário</h2>
        
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Criar Conta</button>
        </form>
        
    {% endblock %}
    </div>
</body>
</html>
