body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffd800;
    background-size: cover;
    color: #fff;
    display: grid;
}

.container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    background-color: #0d0d17;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sidebar {
    width: 70px;
    background-color: #000;
    padding: 20px;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

.profile-info {
    flex: 1;
    margin-right: 20px;
}

.button {
    background-color: #ffd800;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #eeff00;
}
.menu {
    width: 80px;
    height: 100vh;
    border-radius: 6px;
    border: none;
    background-color: #0d0d17;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    /* Z-index alto para ficar sobreposto */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Espaçamento superior */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1; /* Faz a lista ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaça os ícones igualmente */
}

.menu ul li {
    padding: 10px;
  
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center; /* Centraliza o ícone */
    border-radius: 50%; /* Adiciona borda redonda */
    background-color: #1a1e30; /* Cor de fundo para combinar com o site */
    width: 60px; /* Tamanho do círculo */
    height: 60px; /* Tamanho do círculo */
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o ícone dentro do círculo */
}

.menu ul li a img {
    height: 40px; /* Tamanho do ícone */
    width: auto;
}



.menu-profile-config {
    display: flex;
    flex-direction: column;
    margin-top: auto; /* Move os ícones para o final do menu */
    padding-bottom: 20px; /* Espaço abaixo */
}

img {
    height: 50px;
    width: auto;
}

.MeuPet {
    display: grid;
    margin-left: 7%;
    margin-top: 100px;
    font-family: cursive;
}

#ImgPet {
    height: 300px;
    width: 220px;

}

.scrollable-container {

    margin: 0 auto;
    max-width: 80%;
    position: absolute;
    margin-left: 400px;
    margin-top: 90px;
}
.nomeCatalago{
   margin-top: 30px;
   font-family: cursive;
}

.song {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    margin-top: 0px;
    background-color: #ffffff;
    text-align: center;
    line-height: 200px;
    font-size: 20px;
    border: none;
    border-radius: 18px;
}

.song img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.xpBar{
    height: 30px;
    background-color: #000;
    width: 216px;
    margin-bottom: 15px;
    border: 2px solid gray;
    border-radius: 10px;
}
.xpProgress{
    position: absolute;
    height: 30px;
    width: 166px;
    background-color: greenyellow;
    border-radius: 8px;
    color: #000;
}
#xpNivel{
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    font-family: cursive;
}