

/* Estilos para a scrollbar */
::-webkit-scrollbar {
    width: 10px; /* largura da scrollbar */
}

::-webkit-scrollbar-track {
    background: #0d0d14; /* cor de fundo da track */
}

::-webkit-scrollbar-thumb {
    background: #1c1e2c; /* cor do thumb */
    border-radius: 10px; /* borda arredondada */
}

::-webkit-scrollbar-thumb:hover {
    background: #191a25; /* cor do thumb ao passar o mouse */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #11131d; /* Cor de fundo do corpo da página semelhante ao Discord */
    color: #ffffff; /* Cor do texto */
}

.container {
    max-width: 600px;
    margin: 20px auto; /* Adicionei margem superior e inferior para centralizar verticalmente */
    padding: 20px;
    background-color: #151620; /* Cor de fundo do contêiner principal semelhante ao Discord */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.music-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.music-cover img {
    max-width: 400px; /* Defina a largura máxima desejada */
    height: auto; /* Mantém a proporção original */
    margin-bottom: 20px; /* Espaçamento entre a imagem e o player de música */
}

.music-info {
    background-color: #21232e; /* Cor de fundo semelhante ao Discord */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaçamento superior */
    max-width: 500px; /* Largura máxima */
    width: 70%; /* Faz com que o contêiner ocupe toda a largura disponível */
}

.music-info p {
    text-align: center;
    margin: 10px 0; /* Espaçamento entre os parágrafos */
}

.music-player {
    text-align: center;
}

.container-1 {
    background-color: rgb(26, 28, 44);
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px; /* Adicionando margem inferior */
  }
  
  #favorite {
    display: none;
  }
  
  #favorite:checked + .container-1 svg {
    fill: hsl(56, 100%, 50%);
    stroke: hsl(56, 100%, 50%);
    animation: heartButton 1s;
  }
  
  @keyframes heartButton {
    0% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(1.3);
    }
  
    50% {
      transform: scale(1);
    }
  
    75% {
      transform: scale(1.3);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  #favorite + .container-1 .action {
    position: relative;
    overflow: hidden;
    display: grid;
  }
  
  #favorite + .container-1 .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all 0.5s;
  }
  
  #favorite + .container-1 .action span.option-1 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  
  #favorite:checked + .container-1 .action span.option-1 {
    transform: translate(0px, -100%);
    opacity: 0;
  }
  
  #favorite + .container-1 .action span.option-2 {
    transform: translate(0px, 100%);
    opacity: 0;
  }
  
  #favorite:checked + .container-1 .action span.option-2 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  